<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/xml; charset=iso-8859-1" />
<title>Alojamientos Madrid</title>
</head>
<body>
<div id="container">

	<div id="navigation">
		<ul>
			{{ menu_navegacion|safe }}
		</ul>
	</div>

	<div id="content">
		<h3>{{ titulo|safe }}</h3>

		<p>{{ contenido|safe }}</p>

			<div id="footer">
				<p> Copyright &copy; 2016 Sara Suárez Sánchez </p>
			</div>
	</div>

</div>

</body>
</html>
